 div {
    position: fixed;
    bottom: 250px;
    left: 210px;
    width: 525px;
    height: auto;
 }
 body {
    background-color: rgb(240, 240, 240);
 }
 h1 {
    color: black;
    font-family: 'Yeseva One', cursive;
    position: fixed;
    top: 150px;
    left: 80px;
    font-size: 55px;
 }
 p {
    text-align: justify;
    color: black;
    font-family: 'Yeseva One', cursive;
    text-indent: 45px;
    text-size-adjust: 100%;
    font-size: 25px;
 }
 table {
    position: fixed;
    top: 20px;
    right: 30px;
 }
 a:link, a:visited {
    color: black;
    text-align: center;
    display: inline-block;
    font-family: 'Yeseva One', cursive;
    text-decoration: none;
  }
  a:hover, a:active {
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: underline black;
    font-family: 'Yeseva One', cursive;
  }
  img {
   position: fixed;
   top: 100px;
   right: 100px;
  }