 div {
    position: fixed;
    bottom: 250px;
    left: 360px;
 }
 body {
    background-color: rgb(226, 226, 226);
 }
 h1 {
    color: black;
    font-family: 'Yeseva One', cursive;
    position: fixed;
    top: 100px;
    left: 50px;
    font-size: 60px;
 }
 p {
    text-align: justify;
    color: black;
    font-family: 'Yeseva One', cursive;
    text-indent: 45px;
    text-size-adjust: 100%;
 }
 table {
    position: fixed;
    top: 20px;
    right: 30px;
 }
 a:link, a:visited {
    color: black;
    text-align: center;
    display: inline-block;
    font-family: 'Yeseva One', cursive;
  }
  a:hover, a:active {
    color: black;
    text-align: center;
    display: inline-block;
    text-decoration: underline black;
    font-family: 'Yeseva One', cursive;
  }